#bsgTranslateTransferTargetNamespaceMapping {
	.translationTransfer-namespaceMapWidget-value {
		padding: 10px;
		border: 1px solid gray;
		margin-top: 10px;
		margin-bottom: 20px;
		margin-right: auto;
		width: 100%;
		/*
		 * OOUI's default.
		 * That's needed for all elements in Config Manager to be the same width
		 */
		max-width: 50em;

		&:empty {
			border: none; /* stylelint-disable-line declaration-property-value-disallowed-list */
		}

		.translationTransfer-namespace {
			font-size: 1em;
			font-weight: bold;
		}

		.oojsplus-data-gridWidget-cell.action-cell .oo-ui-buttonElement {
			margin-left: 0 !important;

			.oo-ui-iconElement-icon {
				width: 1em;
			}
		}
	}

	.oo-ui-layout.oo-ui-panelLayout {
		width: 100%;
		/*
		 * OOUI's default.
		 * That's needed for all elements in Config Manager to be the same width
		 */
		max-width: 50em;

		& > fieldset > legend > .oo-ui-labelElement-label {
			font-size: 15px; /* stylelint-disable-line declaration-property-unit-disallowed-list */
			font-weight: normal;
		}

		& > fieldset > .oo-ui-fieldsetLayout-group > .oo-ui-fieldLayout:last-child {
			display: flex;
			justify-content: right;

			.oo-ui-fieldLayout-header {
				display: none;
			}
		}
	}
}

.mw-htmlform-field-EnabledNamespacesFormField {
	padding-bottom: 15px;
	border-bottom: 1px solid gray;
	margin-bottom: 20px;

	/*
	 * OOUI's default.
	 * That's needed for all elements in Config Manager to be the same width.
	 */
	max-width: 50em;
}
