.tt-translate-state-label {
	font-size: 1em;
}

.tt-translate-language-selection-selector {
	margin-top: 10px;
}

.tt-translate-target-title-input input {
	width: 100%;
}

.tt-translate-wt-preview {
	white-space: pre-wrap;
	font-family: monospace;
}

.tt-translate-preview-layout {
	.oo-ui-labelElement-label {
		font-size: 26pt !important;
	}
}

.tt-translate-preview-index-layout {
	border-top: 2px solid black;

	.oo-ui-menuLayout-menu {
		height: 0 !important;
	}

	.oo-ui-menuLayout-content {
		top: 20px !important;
	}

	.oo-ui-tabPanelLayout {
		padding: 0 !important;
	}
}

.tt-translate-transfer-panel {
	&.working .oo-ui-iconWidget {
		height: 0 !important;
	}

	.oo-ui-iconWidget {
		display: block;
		width: 100%;
		background-size: 50px;
		height: 50% !important;
	}

	.oo-ui-labelWidget {
		display: block;
		width: 100%;
		text-align: center;
	}
}

.translate-transfer-title-transfer-success {
	.oo-ui-icon-success {
		margin-top: 10px;
	}
}

.translate-transfer-transferred-resources-changes {
	margin-top: 20px;
	margin-left: 15px;
}

.translate-transfer-transferred-resources-layout {
	.translate-transfer-transferred-resources-notice {
		color: #747474;
		margin-bottom: 15px;
	}

	.translate-transfer-transferred-resources-success-item label,
	.translate-transfer-transferred-resources-fail-item label {
		margin-bottom: 7px;
		color: black;
	}

	.oo-ui-tabPanelLayout {
		padding-left: 0;
	}
}
